<div class="card my-3" >
    <div class="card-body" >
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"> <%= link_to 'Home', root_path %> </li>
            <li class="breadcrumb-item active" aria-current="page"> Usuario  </li>
        </ol>
        </nav>
    </div>
</div>


<div class="card my-3 " >
    <div class="card-body mx-5" >
         
         <hr>
         <div class="d-flex justify-content-evenly align-items-center m-0 p-0" >
            <p class="fs-3" > Email: </p> 
            <p class="fw-bold" >
                <%= @user.email%>
            </p>
         </div>
         <hr>
    </div>
</div>


<% if $generated_password  %>
    <div class="alert alert-primary" role="alert">
       Your temporaly password is   <%= $generated_password %>
    </div>
<% end %>
