
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">

        <% if Current.user.platform_user? %>
            <%= render 'platform' %>
        <% else %>
            <%= render 'clients' %>
        <% end %>

    </div>
</div>
