
<% if Current.user %>
    <%= render 'dashboard' %>
<% else %>
<div class="vh-100 d-flex justify-content-center align-items-center" >
    <div>
        <%= link_to 'Sign Up', sign_up_path, class: 'btn btn-primary' %>
        OR 
        <%= link_to 'Login', sign_in_path, class: 'btn btn-secondary' %>
    </div>
</div>
<% end %>

